<div class="row lightt section">

    <div class="col-lg-1"></div>
    <div class="fadeInUp animated covers-container col-md-6 col-lg-5 d-flex flex-wrap justify-content-center align-items-center">
        <a href="https://www.youtube.com/watch?v=85I-i7WN2Vc" target="blank" class="covers c-1">
            <i class="plays-b far fa-play-circle"></i>
        </a>
        <a class="covers c-2" href="https://www.youtube.com/watch?v=kvDMlk3kSYg" target="blank">
            <i class="plays-b far fa-play-circle"></i>
        </a>
        <a class="covers c-3" href="https://www.youtube.com/watch?v=2r_nAnAy-So" target="blank">
            <i class="plays-b far fa-play-circle"></i>
        </a>
        <a class="covers c-4" href="https://www.youtube.com/watch?v=3AsRI_cSie0" target="blank">
            <i class="plays-b far fa-play-circle"></i>
        </a>
    </div>
    <div class="fadeInUp animated col-md-6 col-lg-5 px-5">
        <h2>
            Les avantages de Spotify
        </h2>
        <h3>
            Musique
        </h3>
        <p>
            Le catalogue Spotify compte plusieurs millions de morceaux. Écoutez votre titres favoris, découvrez les nouveautés et composez
            la playlist de vos rêves.
        </p>
        <h3>
            Playlists
        </h3>
        <p>
            Découvrez des playlists adaptées à vos envies, composées par des fans de musique et par des spécialistes.
        </p>
        <h3>
            Nouveautés
        </h3>
        <p>
            Écoutez les derniers singles et albums de la semaine, et découvrez les titres qui ont la cote dans le top 50.
        </p>
    </div>
    <div class="col-lg-1"></div>

</div>