<div class="row">

    <div class="col-md-8">
        <img src="https://placehold.it/550x550">
    </div>
    <div class="col-md-8">
    </div>
    <h2>
        Les avantages de Spotify
    </h2>
    <div>
        <h3>
            Musique
        </h3>
        <p>
            Le catalogue Spotify compte plusieurs millions de morceaux. Écoutez votre titres favoris, découvrez les nouveautés et composez
            la playlist de vos rêves.
        </p>
    </div>
    <div>
        <h3>
            Playlists
        </h3>
        <p>
            Découvrez des playlists adaptées à vos envies, composées par des fans de musique et par des spécialistes.
        </p>
    </div>
    <div>
        <h3>
            Nouveautés
        </h3>
        <p>
            Écoutez les derniers singles et albums de la semaine, et découvrez les titres qui ont la cote dans le top 50.
        </p>
    </div>
</div>