<div id="sec3" class="row gradient section x-hidden">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="fadeInUp animated col-md-4">
            <h2>
                Tellement simple.
            </h2>

            <h3>
                Rechercher
            </h3>
            <p>
                Envie d'écouter un titre en particulier ? Cherchez, cliquez, écoutez. Tout simplement.
            </p>

            <h3>
                Parcourir
            </h3>
            <p>
                Découvrez sans plus attendre les classements les plus récents, les dernières nouveautés et les meilleures playlists.
            </p>

            <h3>
                Découvrir
            </h3>
            <p>
                Chaque lundi, découvrez une playlist personnalisée selon vos goûts musicaux. Ou détendez-vous en écoutant la radio.
            </p>
        </div>
        <div class="fadeInUp animated col-md-6">

            <div id="phones-container" class="d-sm-none d-md-flex">
                <img class="iphone iphone-1" src="iphone.png">
                <img class="iphone iphone-2" src="iphone.png">
                <img class="iphone iphone-3" src="iphone.png">
                <img class="iphone iphone-4" src="iphone.png">
            </div>

        </div>
    </div>

</div>