<div class="row darkk section">
    <div class="container">
        <div class="fadeInUp animated row">
            <img class="mx-auto my-5" src="//web.archive.org/web/20170225103228im_/https://d2c87l0yth4zbw.global.ssl.fastly.net/i/home/all-devices.svg">

            <h2 class="mx-auto mb-5">
                Un compte. Emportez votre musique partout.
            </h2>

        </div>

        <div class="fadeInUp animated row">
            <ul class="alldevices text-center mb-5">
                <li>MOBILE</li>
                <li class="li-separator"> - </li>
                <li>ORDINATEUR</li>
                <li class="li-separator"> - </li>
                <li>TABLETTE</li>
                <li class="li-separator"> - </li>
                <li>VOITURE</li>
                <li class="li-separator"> - </li>
                <li>HAUT-PARLEUR</li>
                <li class="li-separator"> - </li>
                <li>
                    <a href="/fr/playstation/" data-tracking='{"category": "home (devices)", "action": "playstation"}'>PLAYSTATION®</a>
                </li>
                <li class="li-separator"> - </li>
                <li>TV</li>
                <li class="li-separator"> - </li>
                <li>
                    <a href="/fr/redirect/webplayerlink/?utm_medium=www_deviceslink" data-tracking='{"category": "home (devices)", "action": "web-player"}'>LECTEUR WEB</a>
                    <span>
                </li>
            </ul>
        </div>
    </div>
</div>