<div id="sec5" class="row gradient x-hidden py-5">
    <div class="fadeInUp animated container-fluid">
        <div data-original="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png"></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col px-5">
                <h1>
                    En avant la musique.
                </h1>
                <p>
                    De la musique gratuite.
                    <br> Ou optez pour un compte Premium et écoutez vos morceaux à la demande, partout où vous voulez.
                </p>
                <h3>Spotify</h3>
                <h3>
                    0,00&nbsp;€
                    <span> / mois</span>
                </h3>
                <hr>
                <ul>
                    <li>
                        Écoutez vos artistes et albums préférés. Vous entendrez occasionnellement des spots publicitaires.
                    </li>
                </ul>
                <hr>
                <a class="btn carousel-button btn-type1" href="/fr/download/" data-tracking='{"category": "home (subscriptions)", "action": "free"}'>
                    TÉLÉCHARGER SPOTIFY FREE
                </a>


                <h3>
                    Spotify Premium
                </h3>
                <h3>
                    9,99&nbsp;€
                    <span> / mois</span>
                </h3>
                <p>
                    <a href="/fr/family/" data-ga-category="home (subscriptions)" data-ga-action="family">Offre Family</a> disponible</p>

                <p>Essayez Spotify gratuitement pendant 30 jours*</p>
                <hr>
                <ul>
                    <li>
                        Écoute à la demande.
                    </li>
                    <li>
                        Musique hors connexion
                    </li>
                    <li>
                        Aucune pub
                    </li>
                    <li>
                        Grande qualité audio.
                    </li>
                </ul>
                <hr>
                <a class="btn carousel-button btn-type1" href="/fr/premium/?checkout=false" data-tracking='{"category": "home (subscriptions)", "action": "premium"}'>
                    ABONNEZ-VOUS À SPOTIFY PREMIUM
                </a>
            </div>
            <div class="col-md-3 py-5">
                <img id="nexus-img" src="nexus.png">
            </div>
        </div>
        <p class="text-center">
            <small>
                * L'offre Spotify® d'essai gratuit de 30 est soumise aux
                <a href="/fr/legal/new-30-days-free-trial-terms-and-conditions/">conditions générales</a> . Les utilisateurs abonnés au service Premium ou Unlimited, ou ayant déjà profité
                d'un essai gratuit ne peuvent pas bénéficier de cette offre.
                </smal>
        </p>
    </div>
</div>