<div id="my_carousel" class="carousel slide" data-ride="carousel">

    <!-- <div class="carousel-indicators"> -->
        <ol class="carousel-indicators">
            <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#my_carousel" data-slide-to="1"></li>
            <li data-target="#my_carousel" data-slide-to="2"></li>

        </ol>
        <!-- <div id="savoir">
            <span>EN SAVOIR PLUS SUR SPOTIFY</span>
        </div> -->
    <!-- </div> -->

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-page">
            </div>
            <div class="carousel-caption">
            </div>
            <div id="profit">
                Profitez de 60 jours de Spotify Premium gratuits
            </div>


            <button id="telecharger" class="btn">
                TELECHARGER SPOTIFY FREE
            </button>
            <button id="abonnez" class="btn">
                ABONNEZ VOUS A SPOTIFY PRENIUM
            </button>
        </div>
        <div class="carousel-item">
            <h1>EN SAVOIR PLUS SUR SPOTIFY</h1>
        </div>
        <div class="carousel-item">
            <h1>Offrez Spotify Premium à toute la famille.
                <br>Seulement 14,99&nbsp;€.</h1>
            <a href="/fr/family/">
                EN SAVOIR PLUS
            </a>

            <h1>Utilisez Spotify sur votre PlayStation®.</h1>
            <a href="/fr/playstation/">
                EN SAVOIR PLUS
            </a>
        </div>
    </div>
</div>

<a class="carousel-control-prev" href="#my_carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="carousel-control-next" href="#my_carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>