<%- include('parts/head') %>
    <%- include('parts/header') %>


        <div id="pick-background" class="row">
            <div class="container">
                <div class="row h-100">
                    <div class="col-md-3 d-flex align-items-center justify-content-center">
                        <input class="" type="color" name="color1" id="color1" value="#ff4169" onchange="updateColor()">
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3 d-flex align-items-center justify-content-center">
                        <input class="" type="color" name="color2" id="color2" value="#7c26f8" onchange="updateColor()">
                    </div>
                </div>
            </div>
        </div>


        <!-- </div> -->
        <%- include('parts/footer') %>