<%- include('parts/head') %>
    <%- include('parts/header') %>


        <div role="listbox">
            <div id="my_carousel" class="carousel slide" data-ride="carousel">
                <!--<img src="https://placehold.it/1400x500">-->
                <!-- Bulles -->
                <ol class="carousel-indicators">
                    <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#my_carousel" data-slide-to="1"></li>
                    <li data-target="#my_carousel" data-slide-to="2"></li>
                    <div id="savoir">
                        <span>EN SAVOIR PLUS SUR SPOTIFY</span>
                    </div>
                </ol>
                <!-- Slides -->
                <div class="carousel-inner text-center">
                    <!-- Page 1 -->
                    <div class="item active">
                        <div class="carousel-page">
                        </div>
                        <div class="carousel-caption">
                        </div>
                        <div id="profit">
                            Profitez de 60 jours de Spotify Premium gratuits
                        </div>



                    </div>
                    <button id="telecharger" class="btn">
                        TELECHARGER SPOTIFY FREE
                    </button>
                    <button id="abonnez" class="btn">
                        ABONNEZ VOUS A SPOTIFY PRENIUM
                    </button>
                    <!-- Page 2 -->
                    <div class="item">
                        <div class="carousel-page">
                            <!--<img src="/images/twitter-bootstrap.jpg" class="img-responsive img-rounded" 
  style="margin:0px auto;"  />-->
                        </div>
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <!-- Page 3 -->
                    <div class="item">
                        <div class="carousel-page">
                            <!--<img src="/images/tablette.png" class="img-responsive img-rounded" 
  style="margin:0px auto;max-height:100%;"  />-->
                        </div>
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                <!-- Contrôles -->
                <a class="left carousel-control" href="#my_carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#my_carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <!-- </div> -->

        <!--<div>
        <h1>
          <span>
            Offrez Spotify Premium à toute la famille.<br>Seulement 14,99&nbsp;€.
          </span>
        </h1>
        <a href="/fr/family/">
          EN SAVOIR PLUS
        </a>
      </div>

      <div>
        <h1>
          <span>
            Utilisez Spotify sur votre PlayStation®.
          </span>
        </h1>-->
        <!--<a href="/fr/playstation/">
          EN SAVOIR PLUS
        </a>
      </div>

    </div>

    <!-- Controls -->
        <!--<ahref="#carousel-tour">
    <span></span>
    <span>
      Précédent
    </span>
  </a>
  <a href="#carousel-tour">
    <span></span>
    <span>
      Continuer
    </span>
  </a>
</div>
</div>
</div>

<div>
  <a name="whats-on-spotify" href="#whats-on-spotify"   data-ga-category="home"   data-ga-action="arrows"   data-ga-label="learn-more" >
    <div>
      <svg><use xlink:href="#scroll-down"></svg>
      <svg><use xlink:href="#scroll-down"></svg>
    </div>
    <span>EN SAVOIR PLUS SUR SPOTIFY</span>
  </a>
</div>-->




        <div class="container">
            <div class="col-md-8">
                <img src="https://placehold.it/550x550">
            </div>
            <div class="col-md-8">
            </div>
            <h2>
                Les avantages de Spotify
            </h2>
            <div>
                <h3>
                    Musique
                </h3>
                <p>
                    Le catalogue Spotify compte plusieurs millions de morceaux. Écoutez votre titres favoris, découvrez les nouveautés et composez
                    la playlist de vos rêves.
                </p>
            </div>
            <div>
                <h3>
                    Playlists
                </h3>
                <p>
                    Découvrez des playlists adaptées à vos envies, composées par des fans de musique et par des spécialistes.
                </p>
            </div>
            <div>
                <h3>
                    Nouveautés
                </h3>
                <p>
                    Écoutez les derniers singles et albums de la semaine, et découvrez les titres qui ont la cote dans le top 50.
                </p>
            </div>
        </div>




        <div>
            <div id="album-slot1" data-tracking='{"category": "home", "action": "albums", "label": "slot1"}'></div>
            <div id="album-slot2" data-tracking='{"category": "home", "action": "albums", "label": "slot2"}'></div>
            <div id="album-slot3" data-tracking='{"category": "home", "action": "albums", "label": "slot3"}'></div>
            <div id="album-slot4" data-tracking='{"category": "home", "action": "albums", "label": "slot4"}'></div>
        </div>







        <div>
            <a name="a-few-features" href="#a-few-features" data-ga-category="home" data-ga-action="arrows" data-ga-label="features">
                <div>
                    <svg>
                        <use xlink:href="#scroll-down">
                    </svg>
                    <svg>
                        <use xlink:href="#scroll-down">
                    </svg>
                </div>
            </a>

        </div>

        <div>
            <div data-original="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png"></div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        Tellement simple.
                    </h2>

                    <h3>
                        Rechercher
                    </h3>
                    <p>
                        Envie d'écouter un titre en particulier ? Cherchez, cliquez, écoutez. Tout simplement.
                    </p>

                    <h3>
                        Parcourir
                    </h3>
                    <p>
                        Découvrez sans plus attendre les classements les plus récents, les dernières nouveautés et les meilleures playlists.
                    </p>

                    <h3>
                        Découvrir
                    </h3>
                    <p>
                        Chaque lundi, découvrez une playlist personnalisée selon vos goûts musicaux. Ou détendez-vous en écoutant la radio.
                    </p>
                </div>

                <div class="col-md-6">
                    <img src="iphone.png">
                </div>
            </div>
        </div>




        <div>
            <a name="play-on-all-your-devices" href="#play-on-all-your-devices" data-ga-category="home" data-ga-action="arrows" data-ga-label="devices">
                <div>
                    <svg>
                        <use xlink:href="#scroll-down">
                    </svg>
                    <svg>
                        <use xlink:href="#scroll-down">
                    </svg>
                </div>
            </a>

        </div>


        <div>
            <div class="console">
                <div class="row text-center">
                    <img src="//d2c87l0yth4zbw.global.ssl.fastly.net/i/home/all-devices.svg">
                    <img class="center-block img-devices" src="//web.archive.org/web/20170225103228im_/https://d2c87l0yth4zbw.global.ssl.fastly.net/i/home/all-devices.svg">

                    <h2>
                        <div id="compte">
                            <span>
                                Un compte. Emportez votre musique partout.
                            </span>
                        </div>
                    </h2>
                </div>

                <ul>
                    <div class="alldevices">
                        <li>MOBILE</li>
                        <li>ORDINATEUR</li>
                        <li>TABLETTE</li>
                        <li>VOITURE</li>
                        <li>HAUT-PARLEUR</li>
                        <li>
                            <a href="/fr/playstation/" data-tracking='{"category": "home (devices)", "action": "playstation"}'>PLAYSTATION®</a>
                        </li>
                        <li>TV</li>
                        <li>
                            <a href="/fr/redirect/webplayerlink/?utm_medium=www_deviceslink" data-tracking='{"category": "home (devices)", "action": "web-player"}'>LECTEUR WEB</a>
                            <span>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        </div>

        <div>
            <a name="go-get-the-music" href="#go-get-the-music" data-ga-category="home" data-ga-action="arrows" data-ga-label="subscriptions">
                <div>
                    <svg>
                        <use xlink:href="#scroll-down">
                    </svg>
                    <svg>
                        <use xlink:href="#scroll-down">
                    </svg>
                </div>
            </a>

        </div>

        <div>
            <div data-original="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png"></div>
            <div>
                <div class="row">
                    <div class="col">
                        <h1>
                            En avant la musique.
                        </h1>
                        <p>
                            De la musique gratuite.
                            <br> Ou optez pour un compte Premium et écoutez vos morceaux à la demande, partout où vous voulez.
                        </p>
                        <h3>Spotify</h3>
                        <h3>
                            0,00&nbsp;€
                            <span> / mois</span>
                        </h3>
                        <div></div>
                        <ul>
                            <li>
                                Écoutez vos artistes et albums préférés. Vous entendrez occasionnellement des spots publicitaires.
                            </li>
                        </ul>
                        <a href="/fr/download/" data-tracking='{"category": "home (subscriptions)", "action": "free"}'>
                            TÉLÉCHARGER SPOTIFY FREE
                        </a>


                        <h3>
                            Spotify Premium
                        </h3>
                        <h3>
                            9,99&nbsp;€
                            <span> / mois</span>
                        </h3>
                        <p>
                            <a href="/fr/family/" data-ga-category="home (subscriptions)" data-ga-action="family">Offre Family</a> disponible</p>

                        <p>Essayez Spotify gratuitement pendant 30 jours*</p>

                        <ul>
                            <li>
                                Écoute à la demande.
                            </li>
                            <li>
                                Musique hors connexion
                            </li>
                            <li>
                                Aucune pub
                            </li>
                            <li>
                                Grande qualité audio.
                            </li>
                        </ul>
                        <a href="/fr/premium/?checkout=false" data-tracking='{"category": "home (subscriptions)", "action": "premium"}'>
                            ABONNEZ-VOUS À SPOTIFY PREMIUM
                        </a>
                    </div>
                    <div class="col-md-6">
                        <img src="iphone.png">
                    </div>
                </div>
                <p>
                    * L'offre Spotify® d'essai gratuit de 30 est soumise aux
                    <a href="/fr/legal/new-30-days-free-trial-terms-and-conditions/">conditions générales</a> . Les utilisateurs abonnés au service Premium ou Unlimited, ou ayant déjà profité
                    d'un essai gratuit ne peuvent pas bénéficier de cette offre.
                </p>
            </div>
        </div>

        <%- include('parts/footer') %>