<!-- </div> -->
<footer role="contentinfo" class="bg-dark">
        <div class="container">
          <nav class="row">
      
                  <div class="col-xs-12 col-md-2">
              <div class="footer-logo">
                    <a id="foot-brand" class="navbar-brand nav-brand" href="/"></a>
              </div>
            </div>
      
                  <div class="col-xs-6 col-sm-4 col-md-2">
              <h3 class="nav-title">Société</h3>
              <ul class="nav">
                
        <li>
          <a href="/fr/about-us/contact/" id="nav-link-about" data-ga-category="menu" data-ga-action="about">
            A propos
                      </a>
        </li>
      
        <li>
          <a href="https://www.spotifyjobs.com/" id="nav-link-jobs" data-ga-category="menu" data-ga-action="jobs">
            Offres d'emploi
                      </a>
        </li>
      
        <li>
          <a href="https://newsroom.spotify.com/" id="nav-link-press" data-ga-category="menu" data-ga-action="press">
            For the Record
                      </a>
        </li>
      
              </ul>
            </div>
      
                  <div class="col-xs-6 col-sm-4 col-md-2">
              <h3 class="nav-title">Communautés</h3>
              <ul class="nav">
                
        <li>
          <a href="https://artists.spotify.com/" id="nav-link-artists" data-ga-category="menu" data-ga-action="artists">
            Espace artistes
                      </a>
        </li>
      
        <li>
          <a href="https://developer.spotify.com/" id="nav-link-developers" data-ga-category="menu" data-ga-action="developers">
            Développeurs
                      </a>
        </li>
      
        <li>
          <a href="/fr/brands/" id="nav-link-brands" data-ga-category="menu" data-ga-action="brands">
            Marques
                      </a>
        </li>
      
        <li>
          <a href="https://investors.spotify.com/" id="nav-link-investors" data-ga-category="menu" data-ga-action="investors">
            Investisseurs
                      </a>
        </li>
      
        <li>
          <a href="https://spotifyforvendors.com/" id="nav-link-vendors" data-ga-category="menu" data-ga-action="vendors">
            Fournisseurs
                      </a>
        </li>
      
              </ul>
            </div>
      
                  <div class="col-xs-6 col-sm-4 col-md-2">
              <h3 class="nav-title">Liens utiles</h3>
              <ul class="nav">
                  <li>
          <a href="https://support.spotify.com/?utm_source=www.spotify.com&amp;utm_medium=www_footer" id="nav-link-help" data-ga-category="menu" data-ga-action="help">
            Aide
                      </a>
        </li>
      
        <li>
          <a href="/fr/purchase/ecards/" id="nav-link-gift" data-ga-category="menu" data-ga-action="gift">
            Cadeau
                      </a>
        </li>
      
        <li class="hidden-xs ">
          <a href="/fr/redirect/webplayerlink/?utm_medium=www_footer" id="nav-link-play" data-ga-category="menu" data-ga-action="play">
            Lecteur Web
                      </a>
        </li>
      
          <li class="visible-xs hidden-sm ">
          <a href="/fr/free/?utm_medium=www_footer" id="nav-link-free" data-ga-category="menu" data-ga-action="free">
            Appli mobile gratuite
                      </a>
        </li>
      
              </ul>
            </div>
      
                  <div class="col-xs-12 col-md-4 col-social">
              <ul class="nav">
                <li>
        <a href="http://instagram.com/spotify">
          <svg class="social-icon">
            <use xlink:href="#instagram-icon">
          <svg>
          </svg></use></svg><span class="social-text">Instagram</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/spotify">
          <svg class="social-icon">
            <use xlink:href="#twitter-icon">
          <svg>
          </svg></use></svg><span class="social-text">Twitter</span></a>
      </li>
      <li>
        <a href="https://www.facebook.com/Spotify">
          <svg class="social-icon">
            <use xlink:href="#facebook-icon">
          <svg>
          </svg></use></svg><span class="social-text">Facebook</span>
        </a>
      </li>
              </ul>
            </div>
          </nav>
      
          <nav class="row row-small">
            <div class="col-xs-9 col-md-7">
      
                      <ul class="nav nav-small">
                <li>
                  <a href="/fr/legal/">Légal</a>
                </li>
                <li>
                  <a href="/fr/privacy/">Centre de confidentialité</a>
                </li>
                <li>
                  <a href="/legal/privacy-policy/">Protection des données</a>
                </li>
                <li>
                  <a href="/fr/legal/cookies-policy/">Cookies</a>
                </li>
                <li>
                  <a href="/fr/legal/privacy-policy/#s13">À propos des pubs</a>
                </li>
      
                                  </ul>
            </div>
      
                  <div class="col-xs-3 col-md-5 text-right">
                      <a class="market" href="/fr/select-your-country/" title="Cliquez pour changer">
                <div class="media">
                  <div class="media-body media-middle">
                    France
                  </div>
                  <div class="media-right media-middle">
                    <span class="media-object flag-icon flag-icon-fr"></span>
                  </div>
                </div>
              </a>
      
                      <small class="copyright">© 2018 Spotify AB</small>
            </div>
          </nav>
        </div>
        <script>
          $(function() {
            var cookies;
      
            function readCookie(name,c,C,i){
              if(cookies){ return cookies[name]; }
      
              c = document.cookie.split('; ');
              cookies = {};
      
              for(i=c.length-1; i>=0; i--){
                C = c[i].split('=');
                cookies[C[0]] = C[1];
              }
      
              return cookies[name];
            }
      
            var wwwTestName = '2018_06_mwp_quant_2_0_www_3';
            var openTestName = '2018_06_mwp_quant_2_0_open_3';
            var variant = 'mobile-web';
            var cookieData = readCookie('sp_ab');
      
            if (cookieData) {
              try {
                var experiments = JSON.parse(decodeURIComponent(cookieData));
                if (experiments[wwwTestName] === variant || experiments[openTestName] === variant) {
                  $('#nav-link-play').parent().toggleClass('hidden-xs')
                }
              } catch(e) { console.log(e); }
            }
          });
        </script>
      </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="scripts.js"></script>

</body>

</html>