
    <!-- </div> -->

    <footer role="contentinfo">
      <div>
          <nav>

              <div>
                  <div>
                      <a href="/fr/">Spotify</a>
                  </div>
              </div>

              <div>
                  <h3>Société</h3>
                  <ul>

                      <li>
                          <a href="/fr/about-us/contact/" id="nav-link-about" data-ga-category="menu" data-ga-action="about">
                              A propos
                          </a>
                      </li>

                      <li>
                          <a href="/fr/jobs/" id="nav-link-jobs" data-ga-category="menu" data-ga-action="jobs">
                              Offres d&#039;emploi
                          </a>
                      </li>

                      <li>
                          <a href="https://press.spotify.com/fr/" id="nav-link-press" data-ga-category="menu" data-ga-action="press">
                              Presse
                          </a>
                      </li>

                      <li>
                          <a href="https://news.spotify.com/fr/" id="nav-link-news" data-ga-category="menu" data-ga-action="news">
                              Actualités
                          </a>
                      </li>

                  </ul>
              </div>

              <div>
                  <h3>Communautés</h3>
                  <ul>

                      <li>
                          <a href="https://artists.spotify.com/" id="nav-link-artists" data-ga-category="menu" data-ga-action="artists">
                              Espace artistes
                          </a>
                      </li>

                      <li>
                          <a href="https://developer.spotify.com/" id="nav-link-developers" data-ga-category="menu" data-ga-action="developers">
                              Développeurs
                          </a>
                      </li>

                      <li>
                          <a href="/fr/brands/" id="nav-link-brands" data-ga-category="menu" data-ga-action="brands">
                              Marques
                          </a>
                      </li>

                  </ul>
              </div>

              <div>
                  <h3>Liens utiles</h3>
                  <ul>
                      <li>
                          <a href="https://support.spotify.com/?utm_source=www.spotify.com&amp;utm_medium=www_footer" id="nav-link-help" data-ga-category="menu"
                              data-ga-action="help">
                              Aide
                          </a>
                      </li>

                      <li>
                          <a href="/fr/purchase/ecards/" id="nav-link-gift" data-ga-category="menu" data-ga-action="gift">
                              Cadeau
                          </a>
                      </li>

                      <li>
                          <a href="/fr/redirect/webplayerlink/?utm_medium=www_footer" id="nav-link-play" data-ga-category="menu" data-ga-action="play">
                              Lecteur Web
                          </a>
                      </li>

                  </ul>
              </div>

              <div>
                  <ul>
                      <li>
                          <a href="http://instagram.com/spotify">
                              <svg>
                                  <use xlink:href="#instagram-icon">
                                      <svg>
                                          <span>Instagram</span>
                          </a>
                      </li>
                      <li>
                          <a href="https://twitter.com/spotify">
                              <svg>
                                  <use xlink:href="#twitter-icon">
                                      <svg>
                                          <span>Twitter</span>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.facebook.com/Spotify">
                              <svg>
                                  <use xlink:href="#facebook-icon">
                                      <svg>
                                          <span>Facebook</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </nav>

          <nav>
              <div>

                  <ul>
                      <li>
                          <a href="/fr/legal/">Légal</a>
                      </li>
                      <li>
                          <a href="/fr/legal/privacy-policy/">Confidentialité</a>
                      </li>
                      <li>
                          <a href="/fr/legal/privacy-policy/#s13">Cookies</a>
                      </li>
                      <li>
                          <a href="/fr/legal/privacy-policy/#s13">À propos des pubs</a>
                      </li>
                  </ul>
              </div>

              <div>
                  <a href="/fr/select-your-country/" title="Cliquez pour changer">
                      <div>
                          <div>
                              France
                          </div>
                          <div>
                              <span></span>
                          </div>
                      </div>
                  </a>

                  <small>&copy; 2017 Spotify AB</small>
              </div>
          </nav>
      </div>
  </footer>

</body>
<!-- This page was rendered using Twig -->

</html>