<!-- </div> -->
<footer>
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-2">
        <div class="footer-logo">
          <a id="foot-brand" class="navbar-brand nav-brand" href="/"></a>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2">
        <h3 class="nav-title">Société</h3>
        <ul class="nav d-inline-block">

          <li>
            <a href="/fr/about-us/contact/" id="nav-link-about" data-ga-category="menu" data-ga-action="about">
              A propos
            </a>
          </li>

          <li>
            <a href="https://www.spotifyjobs.com/" id="nav-link-jobs" data-ga-category="menu" data-ga-action="jobs">
              Offres d'emploi
            </a>
          </li>

          <li>
            <a href="https://newsroom.spotify.com/" id="nav-link-press" data-ga-category="menu" data-ga-action="press">
              For the Record
            </a>
          </li>

        </ul>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2">
        <h3 class="nav-title">Communautés</h3>
        <ul class="nav d-inline-block">

          <li>
            <a href="https://artists.spotify.com/" id="nav-link-artists" data-ga-category="menu" data-ga-action="artists">
              Espace artistes
            </a>
          </li>

          <li>
            <a href="https://developer.spotify.com/" id="nav-link-developers" data-ga-category="menu" data-ga-action="developers">
              Développeurs
            </a>
          </li>

          <li>
            <a href="/fr/brands/" id="nav-link-brands" data-ga-category="menu" data-ga-action="brands">
              Marques
            </a>
          </li>

          <li>
            <a href="https://investors.spotify.com/" id="nav-link-investors" data-ga-category="menu" data-ga-action="investors">
              Investisseurs
            </a>
          </li>

          <li>
            <a href="https://spotifyforvendors.com/" id="nav-link-vendors" data-ga-category="menu" data-ga-action="vendors">
              Fournisseurs
            </a>
          </li>

        </ul>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2">
        <h3 class="nav-title">Liens utiles</h3>
        <ul class="nav d-inline-block">
          <li>
            <a href="https://support.spotify.com/?utm_source=www.spotify.com&amp;utm_medium=www_footer" id="nav-link-help" data-ga-category="menu"
              data-ga-action="help">
              Aide
            </a>
          </li>

          <li>
            <a href="/fr/purchase/ecards/" id="nav-link-gift" data-ga-category="menu" data-ga-action="gift">
              Cadeau
            </a>
          </li>

          <li class="hidden-xs ">
            <a href="/fr/redirect/webplayerlink/?utm_medium=www_footer" id="nav-link-play" data-ga-category="menu" data-ga-action="play">
              Lecteur Web
            </a>
          </li>

          <li class="visible-xs hidden-sm ">
            <a href="/fr/free/?utm_medium=www_footer" id="nav-link-free" data-ga-category="menu" data-ga-action="free">
              Appli mobile gratuite
            </a>
          </li>

        </ul>
      </div>


      <div class="col-xs-12 col-md-4">
        <div class="socials-container">
          <a href="http://instagram.com/spotify">
            <i class="fab social-icons fa-instagram"></i>
          </a>
        </div>
        <div class="socials-container">
          <a href="https://twitter.com/spotify">
            <i class="fab social-icons fa-twitter"></i>
          </a>
        </div>
        <div class="socials-container">
          <a href="https://www.facebook.com/Spotify">
            <i class="fab social-icons fa-facebook-f"></i>
          </a>
        </div>
      </div>

    </div>

    <!-- <div class="row">
      <div class="col-xs-9 col-md-7">
  
        <ul class="nav nav-small d-inline-block">
          <li>
            <a href="/fr/legal/">Légal</a>
          </li>
          <li>
            <a href="/fr/privacy/">Centre de confidentialité</a>
          </li>
          <li>
            <a href="/legal/privacy-policy/">Protection des données</a>
          </li>
          <li>
            <a href="/fr/legal/cookies-policy/">Cookies</a>
          </li>
          <li>
            <a href="/fr/legal/privacy-policy/#s13">À propos des pubs</a>
          </li>
  
        </ul>
      </div>
  
      <div class="col-xs-3 col-md-5 text-right">
        <a class="market" href="/fr/select-your-country/" title="Cliquez pour changer">
          <div class="media">
            <div class="media-body media-middle">
              France
            </div>
            <div class="media-right media-middle">
              <span class="media-object flag-icon flag-icon-fr"></span>
            </div>
          </div>
        </a>
  
        <small class="copyright">© 2018 Spotify AB</small>
      </div>
    </div> -->
  </div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="scripts.js"></script>
<script>
  sr.reveal('.animated');
</script>
</body>

</html>