<footer class="mt-auto bg-dark">Footer</footer>
</div>
<!-- /////////////////////////////////////////// -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="nodes_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="nodes_modules/jquery/dist/jquery.js"></script>

<script src="scripts.js"></script>

</body>

</html>