<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Stupify</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="node_modules/mini.css/dist/mini-dark.css"> -->

    <link rel="stylesheet" href="style.css">
</head>