<body class="bg-secondary">
    <div id="main_container" class="container-fluid d-flex h-100 p-0 flex-column">
        <header class="mb-auto m-0 sticky-top">
            <nav class="bg-dark p-0 m-0">
                Navbar
            </nav>
        </header>