<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>De la musique pour tous - Stupify</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <meta name="description" content="Spotify est un service de musique qui vous donne accès à des millions de titres.">
    <meta name="keywords" content="Spotify, musique, en ligne, écouter, streaming, lecture, numérique, album, artiste, liste de lecture">

    <title>De la musique pour tous - Spotify</title>

    <link rel="icon" href="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/_global/favicon.png">
    <link rel="favicon" href="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/_global/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/_global/favicon.ico"><![endif]-->

    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="animate.css"> -->

    <script src="scrollreveal.js"></script>
    <script>
        window.sr = ScrollReveal({ duration: 1000 });
    </script>






    <link href="/dist/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/dist/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

    <!-- <link rel="stylesheet" href="style.css"> -->



</head>